.Table {
  min-width: 75%;
}

.Heading {
  font-size: 1.4rem;
}

.DataRow {
  transition: var(--transition);
  border: 0.1px solid var(--line-color);
  border-left: none;
  border-right: none;

}
.DataRow:hover {
  background-color: var(--background-hover);
}
.Heading,
.Data {
  padding: 1em;
}

.Data {
  text-align: right;

  position: relative;
  left: 2.5px;
}

.Heading {
  white-space: nowrap;
}

.Heading {
  text-align: right;
}

.Name {
  text-align: left;
}

.Symbol {
  color: var(--label-color);
}

.Row:not(.Title) {
  height: 90px;
}

.Table .CoinName {
  display: flex;
  align-items: center;
  gap: 15px;
}

.Up {
  color: var(--color-green);
}

.Down {
  color: var(--color-red);
}

.TemporaryUp {
  animation: UpToNormal 1s forwards;
}

.TemporaryDown {
  animation: DownToNormal 1s forwards;
}

@keyframes UpToNormal {
  from {background-color: var(--color-green);}
  to {background-color: var(--body-color);}
}

@keyframes DownToNormal {
  from {background-color: var(--color-red);}
  to {background-color: var(--body-color);}
}
